-- ============================================================
-- ======                WORKSPACE RULES                 ======
-- ============================================================
-- Add workspace rules here


-- ============================================================
-- ======                MONITORS                        ======
-- ============================================================
-- Add monitor configuration here
hl.monitor({
    output = "auto",
    mode = "auto",
    position = "0x0",
    scale = 1,
})
